---
xyears: 
  - y: 2013 
    m: []
  - y: 2012
    m: []
  - y: 2011
    m: []    
  - y: 2010
    m: [ "01" ]
  - y: 2009
    m: [ 12 ]
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Kent Fredric's Projects on GitHub</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    {% comment %}
    <script type="text/javascript" src="/js/lib/jquery.min.js" defer="defer"></script>
    <script type="text/javascript" src="/js/lib/joose.mini.js" defer="defer"></script>
    <script type="text/javascript" src="/js/lib/JooseX.Attribute.Lazy.min.js" defer="defer"></script>
    {% endcomment %}
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <h1>Work In Progress</h1>
    <h2>Blog</h2>
    {% for xyear in page.xyears %}
    <h3>{{ xyear.y }}</h3>
    {% for xmonth in xyear.m %}
    <h4>{{ xyear.y }} - {{ xmonth }}</h4>
    <ul>
      {% for post in site.posts %}
      {% capture pyear %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture yyear %}{{ xyear.y }}{% endcapture %}
      {% capture pmonth %}{{ post.date | date: "%m" }}{% endcapture %}
      {% capture ymonth %}{{ xmonth }}{% endcapture %}

      {% if yyear == pyear and ymonth == pmonth %}
        <li>
        <a href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} - {{ post.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    {%endfor %}
    {%endfor %}
    {%comment%}
    <div> Todo </div>
    <h2><span class="noun">Perl</span> Modules</h2>
    <div>
      <div class="crossref">
        <div class="name">Data::Couplet</div>
        <div class="abstract">A <span class="term">key</span> &#8596; <span class="term">value</span> coupling mechanisim for <span class="noun">Perl</span>
        </div>
        <div class="link">
          <a href="/module/data-couplet/">link</a>
        </div>
      </div>
    </div>
    {%endcomment%}
    {% comment %}
    <script type="text/javascript" src="/js/hotsection.min.js" defer="defer"></script>
    {% endcomment %}
  </body>
</html>
