h1,h2, div.title > div.name {
  font-family: "Gentium", "Times New Roman", sans-serif;
  font-weight: normal;
  text-align: center;
}
html {
/*  background-color: #999; */
/*  background-color: #999F9F; */
  background-color: #334;
//  background-color: #fff;
}

div.title {
  text-align: center;
}
tt, code, kbd, samp {
  font-family: "Bitstream Vera Sans Mono", monospace;
  font-size: 80%;
}
p { 
  text-align: justify;
}
div.title div.name {
  font-size: 2em;
}

div.title div.abstract { 
  font-size: 0.7em;
}
div.crossref {
  cursor: pointer;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
div.crossref ul , 
div.title ul {
  text-align: left;
}
div.crossref div.content {
  cursor: auto;
}
div.crossref div.name { 
  font-size: 1em;
}
div.crossref div.abstract { 
  font-size: 0.9em;
}

.term {
  color:#003355;
  background-color:rgba(0,0,255,0.04);
  padding-left:2px;
  padding-right:2px;
}

.noun {
  color: #990022;
}


body {
  font-family:"Baskerville","Didot","Cochin","Georgia",serif;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 5px;
  width: 600px;
  background-color: #FFF;
//  border: 1px solid #000;
  padding: 50px;

  //box-shadow: 0 0 10px 0px rgba(50,50,255,0.9);
  box-shadow: 0 0 40px 0px rgba(176,203,255,0.2);

}
div.highlight > pre { 
  margin: 0px;
  padding: 3px;
  border-radius: 3px;
 // background-color: #fff;
 // box-shadow: 0 0 20px 0.5px rgba(176,203,255,0.9);

}
div.highlight {
  margin: 3px;
  padding: 10px;
  background-color: #fff;
  //background-color: rgba( 176, 203, 255, 0.1 );
  border-radius: 3px;
  //border: 1px solid;
  border-bottom: 2px solid rgba(176,203,255,0.2);
  border-top: 2px solid rgba(176,203,255,0.2);

  box-shadow: 0 0 40px 0px rgba(176,203,255,0.2);

}
div.highlight span.lineno {
  color: #555555;
}
div.highlight span.nb {
  color: #1111ff;
  font-weight: bold;
}
div.highlight span.k{
  color: #115500;
  font-weight: bold;
}
div.highlight span.nv{
  color: #551100;
  font-weight: bold;
}
div.highlight span.c1{
  color: #555555;
  font-weight: bold;
}
div.highlight span.s{
  color: #ff5555;
  font-weight: normal;
}
div.highlight span.n{
  color: #111155;
  font-weight: bold;
}
div.highlight span.mi{
  color: #4444ff;
  font-weight: normal;
}
